.container {
  width: 50%;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 85px 1fr 85px;
  grid-gap: 10px;
  grid-template-areas:  "header header" "nav main" "footer footer"
} 

header {
  background-color: blue;
  grid-area: header;
}

nav {
  background-color: orange;
  grid-area: nav;
  height: 400px;
}

main {
  background-color: pink;
  grid-area: main;
}

footer {
  background-color: green;
  grid-area: footer;

}

